<h1>Basket</h1>

<form novalidate (submit)="checkout()" [formGroup]="checkoutForm">
  <div class="mb-2">
    <label class="form-label" for="name">Name</label>
    <input id="name" formControlName="name" class="form-control" [ngClass]="{'is-invalid': inputName.invalid, 'is-valid': inputName.valid}" name="name" type="text">
    <span *ngIf="inputName?.errors?.['required']">Required</span>
  </div>
  <div class="mb-2">
    <label class="form-label" for="address">Address</label>
    <input id="address" formControlName="address" class="form-control" [ngClass]="{'is-invalid': inputAddress.invalid, 'is-valid': inputAddress.valid}"  name="address" type="text" >
    <span *ngIf="inputAddress?.errors?.['required']">Required</span>
  </div>
  <div class="mb-2">
    <label class="form-label" for="creditCard">Credit card</label>
    <input id="creditCard" formControlName="creditCard" class="form-control" [ngClass]="{'is-invalid': inputCreditCard.invalid, 'is-valid': inputCreditCard.valid}"  name="creditCard" type="text" >
    <span *ngIf="inputCreditCard?.errors?.['required']">Required</span>
    <span *ngIf="inputCreditCard?.errors?.['pattern']">Pattern invalid</span>
  </div>
  <div class="mb-2">
    <button class="btn btn-secondary" type="submit" [disabled]="checkoutForm.invalid">Checkout</button>
  </div>
</form>

<a class="btn btn-primary" routerLink="/">Back to home</a>
